@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  width: 900.876px;
  height: 707.133px;
  transform: rotate(-47.033deg);
  flex-shrink: 0;
  border-radius: 426.5px;
  background: #3a4768;
  filter: blur(250px);
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* @layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  } */

/* h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  } */
/* } */

/* @layer components {
  body {
    @apply bg-zinc-100 dark:bg-black;
  }
} */

/* :root {
  --color-primary: #2d9cdb;
  --color-background: #f2f2f2;

  --color-search-placeholder: #aaaaaa;
  --color-border: #ddd;

  --panel-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
} */
